[Unit]
Description="Bitwarden Local Server (https://bitwarden.com/help/vault-management-api/)"
ConditionPathExists=%h/.env

[Service]
Type=simple
Environment="PATH=%h/.local/share/node/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
EnvironmentFile=%h/.env
ExecStart=%h/.local/share/node/bin/bw serve
SuccessExitStatus=143

[Install]
WantedBy=default.target
