[Unit]
Description="Bitwarden Local Server"
# Requires=network-online.target
# After=network-online.target,syslog.target

[Service]
Type=simple
Environment="PATH=%h/.local/share/node/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart=/bin/bash -c '. "$0" && exec "$@"' %h/.secrets %h/.local/share/node/bin/bw serve
# SuccessExitStatus=143

[Install]
WantedBy=default.target
