[advice]
    detachedHead = false
[fetch]
    prune = false
[pull]
    rebase = false
[core]
    autocrlf = false
    filemode = true
    ignorecase = false
    safecrlf = true
    eol = lf
    editor = vim
    pager = less
	excludesFile = ~/.gitexcludes
[push]
    followTags = true
[init]
    defaultBranch = main
[credential]
    helper = store --file=\"${HOME}/.git-credentials\"
[color]
    ui = auto
[commit]
    gpgsign = true
[user]
    name = arpan
    email = arpan.rec@gmail.com
    signingkey = 1B0D9C73D1221DB0DB64592912086B524AF4FD70
