[advice]
	detachedHead = false
[fetch]
	prune = false
[pull]
	rebase = false
[core]
	autocrlf = false
	fileMode = false
	ignorecase = false
	safecrlf = true
	eol = lf
	editor = vim
	pager = less
	excludesFile = ~/.gitignore
	hooksPath = .git-hooks
[push]
	followTags = true
[init]
	defaultBranch = main
[credential]
	helper = store --file=\"${HOME}/.git-credentials\"
[color]
	ui = auto
[commit]
	gpgsign = true
[user]
	name = arpan
	email = me@arpanrec.com
	signingkey = 57843A13BAA67E5EA0E233EC1A2249D8FE12E5D3
[http]
	sslVerify = true
