* {
    font-family:
        JetBrainsMono Nerd Font Propo,
        monospace;
    font-size: 14px;
    padding-right: 4px;
}

#mpris,
#bluetooth,
#workspaces,
#idle_inhibitor,
#window,
#clock,
#battery,
#power-profiles-daemon,
#pulseaudio,
#cpu,
#memory,
#disk,
#network,
#custom-power,
#keyboard-state,
#tray {
    padding: 0px 6px;
    margin: 4px 4px;
    border-radius: 8px;
    background: rgba(49, 50, 68, 0.6);
}

/* https://man.archlinux.org/man/extra/waybar/waybar-hyprland-window.5.en#STYLE */
window#waybar {
    background: rgba(30, 30, 46, 0.35);
    border-radius: 12px;
    color: #cdd6f4;
}

#idle_inhibitor.deactivated {
    color: rgb(103, 173, 173);
}

#idle_inhibitor.activated {
    color: rgb(255, 0, 0);
}

#workspaces button {
    color: #a6adc8;
}

#workspaces button.active {
    color: #89b4fa;
    background: rgba(137, 180, 250, 0.2);
}

#workspaces button:hover {
    background: rgba(137, 180, 250, 0.15);
}

#window {
    color: #bac2de;
}

#bluetooth {
    color: #8897ed;
}

#clock {
    color: #f9e2af;
}

#pulseaudio {
    color: #94e2d5;
}
